{{ define "title" }}登入{{ end }}
{{ define "content" }}
    <!-- about section -->
    <section class="about_section layout_padding-bottom">
      <div class="square-box">
        <img src="images/square.png" alt="">
      </div>
      <div class="container">
        <div class="row">
         <div class="col-md-12">
           <div class="detail-box">
             <div class="heading_container">
               <h2>
                 登入
               </h2><br>
             </div>
             <div class="form-group row">
               <label  class="col-sm-2 col-form-label">Email</label>
               <div class="col-sm-4">
                 <input type="text" class="form-control" placeholder="Email">
               </div>
             </div>
             <div class="form-group row">
               <label  class="col-sm-2 col-form-label">密碼</label>
               <div class="col-sm-4">
                 <input type="text" class="form-control" placeholder="密碼">
               </div>
             </div><br>
             <div class="form-group">
               <div class="search-button offset-sm-2 col-sm-3">
                 <button type="submit" class="btn btn-primary col-md-12">新 增</button>
               </div>
             </div>
             <div class="form-group">
               <div class="forgetpwd offset-sm-2 col-sm-3">
                 <a href="#">忘記密碼?</a>
               </div>
             </div>
           </div>
         </div>
       </div>
      </div>
    </section>
    <!-- end about section -->
{{ end }}
