{{ define "title" }}新增媒體資料{{ end }}
{{ define "content" }}
  <!-- about section -->

  <section class="about_section layout_padding-bottom">
    <div class="square-box">
      <img src="images/square.png" alt="">
    </div>
    <div class="container">
      <div class="row">
       <div class="col-md-12">
         <div class="detail-box">
           <div class="heading_container">
             <h2>
               新增媒體資料
             </h2><br>
             <h4>
               媒體
             </h4><br>
           </div>
           <div class="form-group row">
             <label  class="col-sm-2 col-form-label">媒體名稱</label>
             <div class="col-sm-4">
               <input type="text" class="form-control" placeholder="媒體名稱">
             </div>
           </div>
           <div class="form-group row">
             <label  class="col-sm-2 col-form-label">所屬國家</label>
             <div class="col-sm-4">
               <input type="text" class="form-control" placeholder="所屬國家">
             </div>
           </div>
           <div class="form-group row">
             <label  class="col-sm-2 col-form-label">網域</label>
             <div class="col-sm-4">
               <input type="text" class="form-control" placeholder="網域">
             </div>
           </div>
           <div class="form-group row">
             <label  class="col-sm-2 col-form-label">來源</label>
             <div class="col-sm-4">
               <input type="text" class="form-control" placeholder="來源">
             </div>
           </div>
           <div class="form-group row">
             <label  class="col-sm-2 col-form-label">備註</label>
             <div class="col-sm-4">
               <input type="text" class="form-control" placeholder="備註">
             </div>
           </div>
           <div class="heading_container">
             <h4>
               公司
             </h4><br>
           </div>
           <div class="form-group row">
             <label  class="col-sm-2 col-form-label">公司名稱</label>
             <div class="col-sm-4">
               <input type="text" class="form-control" placeholder="公司名稱">
             </div>
           </div>
           <div class="form-group row">
             <label  class="col-sm-2 col-form-label">所屬國家</label>
             <div class="col-sm-4">
               <input type="text" class="form-control" placeholder="所屬國家">
             </div>
           </div>
           <div class="form-group row">
             <label  class="col-sm-2 col-form-label">擁有人</label>
             <div class="col-sm-4">
               <input type="text" class="form-control" placeholder="擁有人">
             </div>
           </div>
           <div class="form-group row">
             <label  class="col-sm-2 col-form-label">股東</label>
             <div class="col-sm-4">
               <input type="text" class="form-control" placeholder="股東">
             </div>
           </div>
           <div class="form-group row">
             <label  class="col-sm-2 col-form-label">來源</label>
             <div class="col-sm-4">
               <input type="text" class="form-control" placeholder="來源">
             </div>
           </div>
           <div class="form-group row">
             <label  class="col-sm-2 col-form-label">備註</label>
             <div class="col-sm-4">
               <input type="text" class="form-control" placeholder="備註  ">
             </div>
           </div>
           <div class="search-button col-md-2">
             <button type="submit" class="btn btn-primary col-md-12">新 增</button>
           </div>

         </div>
       </div>
     </div>
    </div>
  </section>

  <!-- end about section -->
{{ end }}