{{ define "head" }}
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="一個讓使用者了解媒體背後公司、公司股權、資金來源等資訊揭露的平台，透過資訊揭露來讓使用者判斷媒體可信度。" />
  <meta name="author" content="AIS3-2020-國家安全-第三組" />

  <title>MediaExpose - {{ block "title" . }}{{ end }}</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700&display=swap" rel="stylesheet">

  <link href="/static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/static/css/responsive.css" rel="stylesheet" />

  <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js" defer></script>
  <script type="text/javascript" src="/static/js/bootstrap.js" defer></script>
  <script type="text/javascript" src="/static/js/custom.js" defer></script>
{{ end }}